# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/staticfiles/
/media/
/.env

# VSCode
.vscode/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!*/migrations/__init__.py
